/* Home.css */

.home-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .home-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .home-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .home-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  
  