
 <!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <h1 class="display-4">{{ pet.name }}</h1>

    {% if pet.photo_url %}
    <img class="img-fluid" src="{{ pet.photo_url }}" alt="{{ pet.name }}">
    {% endif %}

    <h2 class="mt-4">Update</h2>

    <form method="POST">
        {% include "index.html" %}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</body>
</html>
